<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 타입에 별명을 부여하기 -->
  <typeAliases>
    <typeAlias type="net.bitacademy.java67.domain.BoardVo" alias="BoardVo"/>
  </typeAliases>

  <!-- 접속할 DBMS 서버 정보 -->
  <environments default="study2">
    <environment id="study1">
      <transactionManager type="JDBC"/>
      <!-- mybatis에서 직접 커넥션풀을 운영하기 -->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/java67db?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="java67"/>
        <property name="password" value="java67"/>
      </dataSource>
    </environment>
    <environment id="study2">
      <transactionManager type="JDBC"/>
      <!-- 톰캣이 관리하는 DataSource 사용하기 -->
      <dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/java67db"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- SQL문을 모아둔 파일의 위치 정보 설정. 기준은 클래스 경로이다. -->
  <mappers>
    <mapper resource="net/bitacademy/java67/dao/BoardDao.xml"/>
  </mappers>
</configuration>








